## 1. List  [ ]

## List slicing

In [2]:
lst_SK = [1,2,3,4,5,[3,4,5],[5,6,7]]

In [3]:
lst_SK[0]

1

In [11]:
type(lst_SK[6][1])

int

In [14]:
print(lst_SK[-2][-1])

5

In [15]:
lst_SK[4:]

[5, [3, 4, 5], [5, 6, 7]]

In [16]:
lst_SK[:4]

[1, 2, 3, 4]

In [17]:
lst_SK[-4:]

[4, 5, [3, 4, 5], [5, 6, 7]]

In [18]:
lst_SK[:-4]

[1, 2, 3]

In [22]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

## List Functions/Methods

#### Functions/Methods of List

1. append(item) : Adds an item to the end of the list

In [23]:
fruits = ['apple', 'banana']
fruits.append('cherry')
print(fruits)  # Output: ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

2. Clear(): Removes all elements from the list, making it empty

In [25]:
fruits=['apple', 'banana']
fruits.clear()
print(fruits)

[]

3. copy(): returns a shallow copy of the list

In [29]:
sk=[1,2,3,4,5,6]
sk2=sk.copy()
print(sk2)

[1, 2, 3, 4, 5, 6]

4. count(item): Counts how many times an item appears in the list

In [33]:
#fruits=['banana', 'cherry', 'cherry', 'apple']
#abc=fruits.count('cherry')
#print(abc)

fruits=['banana', 'cherry', 'cherry', 'apple']
print(fruits.count('cherry'))

2

5. extend(iterable): adds element of an iterable(like a list or tuple) to the end of the list

In [40]:
fruits=['banana', 'cherry', 'cherry', 'apple']
fruits.extend(['cherry', 'seetaphal', 'dragonfruit'])
print(fruits)

['banana', 'cherry', 'cherry', 'apple', 'cherry', 'seetaphal', 'dragonfruit']

6. index(item, start, end): finds the index of the first occurance of an item, optionally within a range.
- item: The element you're searching for in the list.
- start (optional): The index at which to start the search.
- end (optional): The index at which to stop the search.

In [43]:
print(fruits.index('cherry', 2, 3))

2

7. insert(index, item): inserts an item at a specified index

In [65]:
fruits.insert(5, 3)
print(fruits)

['banana', 'cherry', 'cherry', 'apple', 'cherry', 3, 3, 3, 'seetaphal', 'dragonfruit']

8. pop(index): Removes and returns the item at the specified index (last item if index is not provided).

In [70]:
fruits.pop(5)
print(fruits)

['banana', 'cherry', 'cherry', 'apple', 'cherry', 'seetaphal']

9. remove(item): removes and returns first occurance of the specified item

In [75]:
fruits.remove('apple')
print(fruits)

['banana', 'seetaphal']

10. reverse(): reverse the order of items in the list

In [77]:
sk2.reverse()
print(sk2)

[6, 5, 4, 3, 2, 1]

11. sort(key=None, reverse=False): Sorts the list in place. By default, sort in ascending order, but you can specify a key function or sort in reverse order

In [83]:
sk2.sort(key=None, reverse=True)
print(sk2)

[6, 5, 4, 3, 2, 1]

### Dunder methods/functions

12. add: Enables the use of + to concatenate two lists.

In [84]:
sk4=sk+sk2
print(sk4)

[1, 2, 3, 4, 5, 6, 6, 5, 4, 3, 2, 1]

13. contains: Enables the use of 'in' to check for membership

In [85]:
print(1 in sk4)

True

In [86]:
print(8 in sk4)

False

14. getitem and setitem: access or assign items by index

In [89]:
print(sk4)
print(sk4[1])
sk4[5]=38
print(sk4)

[1, 2, 3, 4, 5, 6, 6, 5, 4, 3, 2, 1]
2
[1, 2, 3, 4, 5, 38, 6, 5, 4, 3, 2, 1]

15. len: returns the length of the list when len() is called

In [92]:
print(len(sk4))

12

16. iter: allows the list to be iterable, enabling use in loops.

In [98]:
for item in sk4:
    print(item)

1
2
3
4
5
38
6
5
4
3
2
1

17. repr and str: defines how the list appears when printed

In [101]:
print(repr(sk4))
print(str(sk4))
print(sk4)

[1, 2, 3, 4, 5, 38, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 38, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 38, 6, 5, 4, 3, 2, 1]

18. mul : enables list repetition using the * operator

In [107]:
repsk4=sk4*3
print(repsk4)

[1, 2, 3, 4, 5, 38, 6, 5, 4, 3, 2, 1, 1, 2, 3, 4, 5, 38, 6, 5, 4, 3, 2, 1, 1, 2, 3, 4, 5, 38, 6, 5, 4, 3, 2, 1]

19. delitem : Allow deletion of an item by index

In [109]:
del sk4[3]
print(sk4)

[1, 2, 3, 5, 38, 6, 5, 4, 3, 2, 1]

20. reversed :  Allows reversed(list) to return the list in reverse order

In [111]:
reversed(sk4)
print(sk4)

[1, 2, 3, 5, 38, 6, 5, 4, 3, 2, 1]

In [112]:
del(sk4)

In [113]:
print(sk4)

NameError: name 'sk4' is not defined

In [114]:
a = [1,2,3]
b = [3,4,5]
b[2]=0
print("A: ", a)
print("B: ", b)

A:  [1, 2, 3]
B:  [3, 4, 0]

In [115]:
a

[1, 2, 3]

# 2. Set

In [117]:
set1={1,1,1,1,12,2,3,5,555,5,5,5}

In [118]:
print(set1)

{1, 2, 3, 5, 555, 12}

In [121]:
lst1=[1,1,2,2,3,4,5]
set(lst1)

{1, 2, 3, 4, 5}

- TypeError: error in data type function used
- SyntaxError: syntax used is wrong

In [124]:
list({1,2,3,4,5,6})

[1, 2, 3, 4, 5, 6]

## 3. Dictionaries

In [127]:
dic1={'key' : 'value'}

In [129]:
dic1['key']

'value'

In [134]:
sample_dictionary = {"Inceptez20":36,"Inceptez21":40,"Inceptez22":32}
sample_dictionary1 = {"Inceptez20":['Dinesh','Jai','Jameela'],"Inceptez21":['Thiayanesh','Rishi'],"Inceptez22":['Ganesh','Prabhu','Guru']}

In [131]:
sample_dictionary['Inceptez20']

36

In [132]:
sample_dictionary1['Inceptez20']

['Ganesh', 'Prabhu', 'Guru']

In [135]:
sample_dictionary1

{'Inceptez20': ['Dinesh', 'Jai', 'Jameela'],
 'Inceptez21': ['Thiayanesh', 'Rishi'],
 'Inceptez22': ['Ganesh', 'Prabhu', 'Guru']}

In [136]:
sample_dictionary1 = {"Inceptez20":['Dinesh','Jai','Jameela'],"Inceptez21":['Thiayanesh','Rishi'],"Inceptez22":['Ganesh','Prabhu','Guru']}

In [137]:
sample_dictionary1['Inceptez20']=[1,2,3]

In [138]:
sample_dictionary1

{'Inceptez20': [1, 2, 3],
 'Inceptez21': ['Thiayanesh', 'Rishi'],
 'Inceptez22': ['Ganesh', 'Prabhu', 'Guru']}

In [139]:
sd=sample_dictionary1.copy()

In [140]:
sd

{'Inceptez20': [1, 2, 3],
 'Inceptez21': ['Thiayanesh', 'Rishi'],
 'Inceptez22': ['Ganesh', 'Prabhu', 'Guru']}

In [141]:
list(sd)

['Inceptez20', 'Inceptez21', 'Inceptez22']

In [142]:
sd[1]

KeyError: 1

In [145]:
print(sd)

{'Inceptez20': [1, 2, 3], 'Inceptez21': ['Thiayanesh', 'Rishi'], 'Inceptez22': ['Ganesh', 'Prabhu', 'Guru']}

In [146]:
lst3=list(sd)

In [147]:
lst3[1]

'Inceptez21'

In [148]:
lst3

['Inceptez20', 'Inceptez21', 'Inceptez22']

In [151]:
marks = {"Physics":80,"Math":90,"CS":50}
print(list(marks)[0])

Physics

In [158]:
print(list(marks.values())[0])

80

In [159]:
print(list(marks.keys())[0])

Physics

## 4. Tuple

In [160]:
sample_tuple = (1,2,3,4,4,4,4,5)

In [161]:
type(sample_tuple)

tuple

In [162]:
sample_tuple[3]

4

In [163]:
sample_tuple[3]=0

TypeError: 'tuple' object does not support item assignment

## Type conversion
- list()
- tuple()
- set()
- dict()

In [164]:
sample_lst = ([1, 2], [3, 4], [4, 4], [4, 5])
dict(sample_lst)

{1: 2, 3: 4, 4: 5}

In [165]:
type(sample_lst)

tuple

In [166]:
sample_lst = ([1, 2], {1,2,3,4}, {1,2,3}, [3, 4], [4, 4], [4, 5])

In [167]:
type(sample_lst)

tuple

### 5. String
## - This can be retrieved using index
## - String is immutable

In [1]:
A="Hello world"

In [2]:
for i in A:
    print(i)

H
e
l
l
o

w
o
r
l
d

In [3]:
A[1]

'e'

In [5]:
A[0]='q'
print(A)

TypeError: 'str' object does not support item assignment

In [6]:
len(A)

11

In [10]:
B="A happy birthdaY"

In [12]:
B.capitalize()

'A happy birthday'

In [13]:
B.lower()

'a happy birthday'

In [14]:
B.upper()

'A HAPPY BIRTHDAY'

In [15]:
B.split(' ')

['A', 'happy', 'birthdaY']

In [16]:
C="    Hello"
C.lstrip()

'Hello'

In [18]:
"?".join(['A', 'happy', 'birthdaY'])

'A?happy?birthdaY'